
header{
    font-size: 1em;
    background-color: rgb(130, 115, 115);
    
    }
nav{
    border-radius: 5px;
    position: fixed;
    text-align: center;
    margin-top: -10%;
    background-color: rgb(202, 190, 190);
    width: 85%;
    }
h1 {
    background-color: rgb(207, 206, 206);
    margin-top: 20%;
    border-radius: 5px;
    text-align: center;
}


body{
    background-color: aquamarine;
    background-image: url(./img/matrix.gif);
    width: 85%;
    margin: auto;
    position: relative;
    border-radius: 5px;
    
}
section{

    background-color: rgb(180, 182, 184);
    
    opacity: 0;
    
    border-radius: 5px;
    
}

section:hover{
    opacity: 1;;
}


